<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AwsAccessKey" value="1MRFMGASE6CQKS2WTMR2" />
    <add key="AssociateTag" value="adamkahtavaap-20" />
    <add key="SecretAccessKey" value="XQDk151teVewB/F2wKQkUEb98aIzZYE1sA/lCrt0" />
  </appSettings>
</configuration>